#laporan-container{
    padding: 20px;
}
#datePicked{
}
#input-container{
    display: flex;
    margin-bottom: 10px;
}
#uptform{
    margin-left: 10px;
}
#filterdata-button{
    margin-left: 20px;
}
.navbar-brand{
    margin-left: 20px;
}