#ModalBox-container{
    width: auto;
    height: auto;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    z-index: 300;
    text-align: center;
}
#modal-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 50%;
    z-index: 200;
}
.button-modal{
    margin: 5px;
}